<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="http://m.qpic.cn/psc?/V13sL17e2IskgF/ruAMsa53pVQWN7FLK88i5panvpKM.uKn2D6a3PfJMjCKBgHJtiIq.zj.7d2hdbLGfaAxjUP2yNouZ2AR4uC6bRjy368JEQ4sFaLwqIB2g4k!/b&bo=9AHtAQAAAAABBzk!&rf=viewer_4"
    />
    <link rel="stylesheet" href="/dumi-father-react-ui/umi.css" />
    <script>
      window.routerBase = "/dumi-father-react-ui";
    </script>
    <script>
      //! umi version: 3.2.28
    </script>
    <title>OrgTree</title>
  </head>
  <body>
    <div id="root"></div>

    <script src="/dumi-father-react-ui/umi.js"></script>
  </body>
</html>
