@import '../../style/themes//default.less';

@emojicon-prefix: ~'@{st-prefix}-emoji-tab';

.@{emojicon-prefix} {
  position: relative;
  display: inline-block;

  &-emoji {
    font-size: 18px;
    cursor: pointer;
  }

  &-emojo-text {
    display: inline-block;
    cursor: pointer;
  }
}

.@{emojicon-prefix}-overlay {
  .ant-popover-inner-content {
    width: 400px;
  }
}
